.idea/.name
.idea/SocketTest.iml
.idea/codeStyleSettings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/xcode.xml
SocketTest.xcodeproj/project.xcworkspace/contents.xcworkspacedata
SocketTest.xcodeproj/project.xcworkspace/xcuserdata/nailer.xcuserdatad/UserInterfaceState.xcuserstate
SocketTest.xcodeproj/xcuserdata/nailer.xcuserdatad/xcschemes/SocketTest.xcscheme
SocketTest.xcodeproj/xcuserdata/nailer.xcuserdatad/xcschemes/xcschememanagement.plist
Breakpoints.xcbkptlist
